<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">GO HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Example Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="{% url 'lisa_landing_home' %}">Lisa Splash</a>
                        <a class="dropdown-item" href="{% url 'example_template' %}">Template</a>
                        <a class="dropdown-item" href="{% url 'todo:home' %}">To-Do</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Public Apps
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="{% url 'polls:home' %}">Polls</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Private Apps
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline">
                <input type="text" placeholder="Email" class="form-control mr-sm-2">
                <input type="password" placeholder="Password" class="form-control mr-sm-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Sign in</button>
            </form>
        </div>
    </div>
</nav>
