{% extends "main.html" %}
{% block jumbotronContent %}
    <h1>Site Todo</h1>
{% endblock %}

{% block bodyContent %}
    <div class="row col-md-12">
        <a class="btn btn-primary mx-auto btn-block" href="{% url 'todo:new' %}">
            <i class="fa fa-plus-circle"></i>
                Create New Todo
        </a>

        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>Sort #</th>
                <th>Description</th>
                <th>Status</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.sort_order }}</td>
                    <td>{{ todo.text }}</td>
                    <td>{{ todo.status }}</td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-dark" href="{% url 'todo:delete' todo.id %}" role="button">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="btn btn-sm btn-dark" href="{% url 'todo:edit' todo.id %}" role="button">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
