{% extends "main.html" %}
{% block jumbotronContent %}
    <h1>Site Todo</h1>
{% endblock %}

{% block bodyContent %}
    <div class="row">
        <a class="btn btn-primary">Create New Todo</a>
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Sort #</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.sort_order }}</td>
                        <td>{{ todo.text }}</td>
                        <td>{{ todo.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
