<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="utf-8"/>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'src/css/main.css' %}" type="text/css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    {% block header_additional %}
    {% endblock %}
    </head>
<body class="body">
{% include "includes/navbar.html" %}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block jumbotronContent %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="container">
    {% block bodyContent %}
    {% endblock %}


    <hr>
    <footer>
        <p>&copy; 2016 Company, Inc.</p>
        {% block footerContent %}
        {% endblock %}
    </footer>
</div> <!-- /container -->

</body>
</html>